# Java / Spring Boot
auth-backend/target/
auth-backend/.mvn/
auth-backend/*.jar

# Python
risk-engine/__pycache__/
risk-engine/venv/
risk-engine/.env

# Angular
frontend-app/node_modules/
frontend-app/dist/

# IDE
.idea/
.vscode/
*.iml